<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <package android:name="org.telegram.messenger" />
        <package android:name="org.telegram.messenger.beta" />
        <package android:name="org.telegram.messenger.web" />
        <package android:name="org.telegram.plus" />
        <package android:name="org.forkgram.messenger" />
        <package android:name="org.forkclient.messenger.beta" />
        <package android:name="org.forkgram.classic" />
        <package android:name="com.iMe.android" />
        <package android:name="com.iMe.android.web" />
        <package android:name="com.xplus.messenger" />
        <package android:name="ru.dahl.messenger" />
        <package android:name="xyz.nextalone.nagram" />
        <package android:name="nu.gpu.nagram" />
        <package android:name="fork.risin42.nagramx" />
        <package android:name="app.nicegram" />
        <package android:name="ir.ilmili.telegraph" />
        <package android:name="nekox.messenger.broken" />
        <package android:name="tw.nekomimi.nekogram" />
        <package android:name="uz.unnarsx.cherrygram" />
        <package android:name="org.telegram.group" />
        <package android:name="com.tgconnect.android" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:ignore="UnusedAttribute">

        <activity
            android:name="com.my.televip.launcher.LauncherActivity"
            android:exported="true"
            android:theme="@android:style/Theme.DeviceDefault.DayNight">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.my.televip.launcher.GhostTileService"
            android:exported="true"
            android:icon="@drawable/ic_ghost_tile"
            android:label="TeleVip"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="اضافة مميزات جديده لتيلجرام" />
        <meta-data
            android:name="xposedminversion"
            android:value="93+" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposedscope" />
    </application>

</manifest>